<html>
    <h1>
        User Form
    </h1>

    <body>
        <form action="/submitted" method="POST">
            <label for="name">username</label>
            <input id ="name" type="text" name="userName" required>

            <label for="number">Rollno</label>
            <input id ="number" type="text" required name="userId">

            <label for="role">Role</label>
            <input id ="role" type="text" required name="userRole">
            <button type="submit">Ok</button>
        </form>
    </body>
</html>